<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true">
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="date.timezone" value="UTC"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <source ignoreIndirectDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true">
        <include>
            <directory>./src</directory>
        </include>
    </source>
    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
</phpunit>
